<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Você está vendo a conversão entre {{measureFrom}} e {{measureTo}}</h1>
        </div>
        <div class="col-6">
            <app-value-input></app-value-input>
        </div>
        <div class="col-6">
            <app-value-input></app-value-input>
        </div>
        <div class="col-6">
            <button mat-raised-button color="primary" routerLink="/unit-selection">Voltar</button>
        </div>
    </div>
</div>