<div class="container d-flex justify-content-center">

    <div class="row">
        <div class="col-12 d-flex justify-content-center text-center p-5">
            <h1>Você está vendo a conversão entre {{measureFrom}} e {{measureTo}}</h1>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            <div class="text-center col-12">
                <app-value-input 
                [measure]="measureFrom" 
                [measureTo]="measureTo"></app-value-input>
            </div>
        </div>
    </div>
</div>