<mat-card class="tex-center">
  <form [formGroup]="tempConversor">    
    <h1>Você selecionou a calculadora de:[title]="title" </h1>

    <h3>Preencha os valores para a conversão:</h3>

    <mat-form-field class="me-5" appearance="fill">
      <app-conversor></app-conversor>
      <mat-label>Converter de: {{ tipoMedida }}</mat-label>
         <mat-select formControlName="converterDeTemp" #converterDeTemp>
        <mat-option *ngFor="let temperatura of temperaturas; let i = index" value="index">
          {{ temperatura }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Converter para: </mat-label>
      <mat-select formControlName="converterParaTemp" #converterParaTemp>
        <mat-option *ngFor="let temperatura of temperaturas; let i = index" value="index">
          {{ temperatura }}
        </mat-option>
      </mat-select>    
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button>Converter</button>
       </mat-card-actions>
    </form>
</mat-card>