<mat-card class="flex-column">
    
    <mat-card-title class="h5">Digite o valor que sera convertido</mat-card-title>
    
    <form class=" d-flex justify-content-center" [formGroup]="quantityInputForm">
        <mat-form-field class="flex-column col-md-2 me-4">
          <input matInput 
          type="number" 
          placeholder="{{measureFrom}}"
          formControlName="quantityInput"
          #quantityInput
          >
        </mat-form-field>

        <mat-form-field class=" flex-column col-md-2">
            <input matInput 
            type="number" 
            placeholder="{{measureTo}}"
            formControlName="quantityInput"
            #quantityInput
            >
          </mat-form-field>
    </form>
   
    <h1>{{measureFrom}}</h1>

    <mat-card-actions>
        <button mat-raised-button class="mb-5">Converter</button>
    </mat-card-actions>

</mat-card>