<mat-card class="text-center">
    
    <mat-card-title class="h5">Medida a ser convertida:</mat-card-title>
    
    <form class="example-form" [formGroup]="quantityInputForm">
        <mat-form-field class="example-full-width">
          <input matInput 
          type="number" 
          placeholder="Insira o valor a ser convertido"
          formControlName="quantityInput"
          #quantityInput
          >
        </mat-form-field>
    </form>

    <mat-card-actions>
        <button mat-raised-button>Converter</button>
    </mat-card-actions>

</mat-card>